# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# AI files
.cursor
.github
.claude

# Misc
.DS_Store

# Local env files
.env
.env.*
!.env.example
