@layer base {
    * {
        @apply border-border;
        scrollbar-width: thin;
        scrollbar-color: hsl(var(--border)) transparent;
    }
    body {
        @apply bg-background text-foreground overflow-x-hidden;
    }
    
    html {
        color-scheme: light;
        @apply scroll-smooth;
    }
    
    html.dark {
        color-scheme: dark;
    }
}
