@layer base {
    :root {
        --accent-50:       254 252 232;      /* #fefce8 */
        --accent-100:      254 249 195;      /* #fef9c3 */
        --accent-200:      254 240 138;      /* #fef08a */
        --accent-300:      253 224 71;       /* #fde047 */
        --accent-400:      250 204 21;       /* #facc15 */
        --accent-500:      234 179 8;        /* #eab308 */
        --accent-600:      202 138 4;        /* #ca8a04 */
        --accent-700:      161 98 7;         /* #a16207 */
        --accent-800:      133 77 14;        /* #854d0e */
        --accent-900:      113 63 18;        /* #713f12 */
        --accent-950:      66 32 6;          /* #422006 */

        --surface-50:       248 250 252;      /* #f8fafc */
        --surface-100:      241 245 249;      /* #f1f5f9 */
        --surface-200:      226 232 240;      /* #e2e8f0 */
        --surface-300:      203 213 225;      /* #cbd5e1 */
        --surface-400:      148 163 184;      /* #94a3b8 */
        --surface-500:      100 116 139;      /* #64748b */
        --surface-600:      71 85 105;        /* #475569 */
        --surface-700:      51 65 85;         /* #334155 */
        --surface-800:      30 41 59;         /* #1e293b */
        --surface-900:      15 23 42;         /* #0f172a */
        --surface-950:      2 6 23;           /* #020617 */

        @apply light;

        --radius: 0.5rem;
    }

    /* Shadcn colors */
    .light {
        --background:                   255 255 255;    /* #ffffff */
        --foreground:                   10 10 10;       /* #0a0a0a */

        --muted:                        245 245 245;    /* #f5f5f5 */
        --muted-foreground:             115 115 115;    /* #737373 */

        --popover:                      255 255 255;    /* #ffffff */
        --popover-foreground:           10 10 10;       /* #0a0a0a */

        --card:                         255 255 255;    /* #ffffff */
        --card-foreground:              10 10 10;       /* #0a0a0a */

        --border:                       229 229 229;    /* #e5e5e5 */
        --input:                        229 229 229;    /* #e5e5e5 */

        --primary:                      23 23 23;       /* #171717 */
        --primary-foreground:           250 250 250;    /* #fafafa */

        --secondary:                    245 245 245;    /* #f5f5f5 */
        --secondary-foreground:         23 23 23;       /* #171717 */

        --accent:                       245 245 245;    /* #f5f5f5 */
        --accent-foreground:            23 23 23;       /* #171717 */

        --destructive:                  239 68 68;      /* #ef4444 */
        --destructive-foreground:       250 250 250;    /* #fafafa */

        --ring:                         10 10 10;       /* #0a0a0a */

        --sidebar-background:           255 255 255;    /* #ffffff */
        --sidebar-foreground:           10 10 10;       /* #0a0a0a */
        --sidebar-primary:              23 23 23;       /* #171717 */
        --sidebar-primary-foreground:   250 250 250;  /* #fafafa */
        --sidebar-accent:               245 245 245;    /* #f5f5f5 */
        --sidebar-accent-foreground:    23 23 23;      /* #171717 */
        --sidebar-border:               229 229 229;    /* #e5e5e5 */
        --sidebar-ring:                 10 10 10;       /* #0a0a0a */
    }

    .dark {
        --background:                   10 10 10;       /* #0a0a0a */
        --foreground:                   250 250 250;    /* #fafafa */

        --muted:                        38 38 38;       /* #262626 */
        --muted-foreground:             163 163 163;    /* #a3a3a3 */

        --popover:                      10 10 10;       /* #0a0a0a */
        --popover-foreground:           250 250 250;    /* #fafafa */

        --card:                         10 10 10;       /* #0a0a0a */
        --card-foreground:              250 250 250;    /* #fafafa */

        --border:                       38 38 38;       /* #262626 */
        --input:                        38 38 38;       /* #262626 */

        --primary:                      250 250 250;    /* #fafafa */
        --primary-foreground:           23 23 23;       /* #171717 */

        --secondary:                    38 38 38;       /* #262626 */
        --secondary-foreground:         250 250 250;    /* #fafafa */

        --accent:                       38 38 38;       /* #262626 */
        --accent-foreground:            250 250 250;    /* #fafafa */

        --destructive:                  127 29 29;      /* #7f1d1d */
        --destructive-foreground:       250 250 250;    /* #fafafa */

        --ring:                         212 212 212;    /* #d4d4d4 */

        --sidebar-background:           10 10 10;       /* #0a0a0a */
        --sidebar-foreground:           250 250 250;    /* #fafafa */
        --sidebar-primary:              250 250 250;    /* #fafafa */
        --sidebar-primary-foreground:   23 23 23;     /* #171717 */
        --sidebar-accent:               38 38 38;       /* #262626 */
        --sidebar-accent-foreground:    250 250 250;   /* #fafafa */
        --sidebar-border:               38 38 38;       /* #262626 */
        --sidebar-ring:                 212 212 212;    /* #d4d4d4 */
    }
}

